/* CSS Document */
.menu{
    position: absolute;
    top: 50px;
	transition:all 1.4s;
	width:100%;
    z-index:10;
}
#imagenLogo{
    transition: all .5s;
}

.icon-menu{
    color: aliceblue;
    font-size: 35px;
}
.menu-fijo{    
	position:fixed;
	transition:all 1.4s;
    background: rgb(122, 222, 69);
	width:100%;
	z-index:10;	
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.39);
}
.nav-item{
    border-radius: 5px;
    background: rgb(122, 222, 69);
	margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
	transition:all .5s;
    cursor: pointer;
}
.hoverItem{
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background: rgb(75, 211, 0);
    transition: all .5s;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-item .nav-color{
	text-decoration:none;
	margin:10px;
    color: #ffffff;
    font-size: 16x;
    font-family:Open Sans;
    font-weight: Bold;
}



